html, body {
    margin: 0;
    padding: 0;
    background: #1F2937;
    font-family: 'Arial';
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* or 100% */
    text-align: center;
    color: #F5F5F5;
     
}

.container {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: #3A69D2;
    max-width: 100%;
    height: 190px;
    margin-bottom: 10px;
    border: 1px solid #3A69D2
}
.button_group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    text-align: center;
}
table {
    max-width: 400px;
    margin: 0 auto;
}

#info-box {
    display: block;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}
#line {
    width: 471px;
    height: 0px;
    border: 0.5px solid #C3C6DB;
    margin: 0 auto;
    margin-top: 10px;
}
h1{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}
h2 {
    width: 95px;
    height: 22px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    margin: 20px;
    color: #D5D4D8;
}
h3 {
    width: 78px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: #D5D4D8;
}
h4 {
    width: 95px;
    height: 28px;
    font-weight: 600;
    font-size: 12px;
    line-height: 32px;
    color: #D5D4D8;
    text-align: left;
    margin: 20px;
}
h5 {
    width: 105px;
    height: 28px;

    font-weight: 600;
    font-size: 12px;
    line-height: 32px;
    text-align: right;
    color: #D5D4D8;
}
#acknowledgement {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
#tasks {
    display: inline-flex;
    height: 21px;
    margin: 20px;
    text-align: left;
}
#price-wash {
    width: 71px;
    height: 21px;
    text-align: right;
}
#price-mow {
    width: 71px;
    height: 21px;

    text-align: right;
}
#price-pull {
    width: 71px;
    height: 21px;
    text-align: right;

}
#price-total {
    width: 105px;
    height: 28px;
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    text-align: right;
}
#notes {
    width: 218px;
    height: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #F5F5F5;
    margin: 20px;
}

#wash-btn {
    margin-left: 10px;
    padding: 9px 13px;
    width: 143.17px;
    height: 45px;
    background: #D1D4F4;
    border: 2px solid #D5D4D8;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4A4E74;
}
#mow-btn {
    margin-left: 10px;
    padding: 9px 13px;
    width: 142.11px;
    height: 45px;
    background: #D1D4F4;
    border: 1px solid #D5D4D8;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4A4E74;
}

#pull_weeds-btn {
    margin-left: 10px;
    padding: 9px 13px;
    width: 143.17px;
    height: 45px;
    background: #D1D4F4;
    border: 1px solid #D5D4D8;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4A4E74;
}
#invoice-btn {
    padding: 9px 17px 9px 15px;
    width: 473px;
    height: 44px;
    background: #3A69D2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    text-align: center;
    color: #FFFFFF;
}
#remove_wash-btn{
    width: 31px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 20px;
    color: #D5D4D8;
    background: #1F2937;
    border: none;
}
#remove_mow-btn {
    width: 31px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 20px;
    color: #D5D4D8;
    background: #1F2937;
    border: none;
}
#remove_pull-btn {
    width: 31px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 20px;
    color: #D5D4D8;
    background: #1F2937;
    border: none;
}
